<div class="dashboard-points-table">
    <div class="main-headline-component">
        <div class="main-headline-component-title">Points Table</div>
    </div>
    <div class="box-container dashboard-points-table-container">

        <mat-tab-group  [(selectedIndex)]="selectedIndex" >
            <mat-tab *ngFor="let option of optionList" >
                <ng-template mat-tab-label>
                    <span class="custom-tab-label">{{option.name}}</span>
                </ng-template>
                <div class="row team-headline">
                    <div class="col-sm-6 col-xs-6">
                        TEAMS
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        MATCHES
                    </div>
                    <div class="col-sm-3 col-xs-3">
                       POINTS
                    </div>
                </div>
                <div class="row team-row" *ngFor="let team of option.ranking">
                        <div class="col-sm-6 col-xs-6">
                            {{team.teamName}}
                        </div>
                        <div class="col-sm-3 col-xs-3">
                            {{team.matches}}
                        </div>
                        <div class="col-sm-3 col-xs-3">
                            {{team.points}}
                        </div>
                    </div>

            </mat-tab>
        </mat-tab-group>
        <div class="dashboard-points-more" (click)="gotToPage()">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> View Detail
        </div>
    </div>

</div>
