@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';


.match-result{
    .match-result-container{
        border-top: 1px solid $firefly !important;
        border: 1px solid $catskill-white;
        box-shadow: 1px 1px 2px 1px rgba(133,133,133,0.50);
        margin: 10px 10px 20px 10px;
        background: $white;
        .match-result-info{
            padding: 10px;
            color: #121F26;
            letter-spacing: 0;

            .row{

                .match-result-box {
                    border-left: solid 1px #bbbcba;
                }
                .match-result-team{
                    position: relative;
                    line-height:40px;
                    .team-icon{
                        height: 35px;
                    }

                    .match-result-versus{
                        padding: 0 10px;
                        font-size: 16px;
                    }
                    span{
                        padding-left: 15px;
                        font-size: 24px;
                        font-weight: bold;
                    }
                    .active{
                       opacity: .5;
                    }
                    .score {
                        font-size: 18px;
                        padding-left: 0;
                        float: right;
                    }

                }
                .match-result-sub-healdine {
                    font-size: 12px;
                    line-height: 25px;
                    span{
                        font-weight: bold;
                        font-size: 14px;

                    }
                }
                .match-result-date{
                    border-bottom: 1px solid $catskill-white;
                    font-size: 20px;
                    color: #000;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 30px;
                    span{
                        color: $black;
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        }

    }

}


.result-info-table{
    margin: 10px;
    overflow-y: auto;
        height: calc(100vh - 65px);
    .result-info-table-container{
        margin: 10px 0 20px;
        .team-icon{
            width: 25px;
            height: 25px;
            padding: 0;
        }
        .result-info-row{
            border-bottom: solid 1px #e1e1e1;
            padding: 10px 0;

            .result-info-teams{
                font-weight: bold;

                .result-info-team1{
                    padding-bottom: 5px;
                }
            }
            .result-info-versus{
                text-align: center;
                font-weight: normal;
            }

            .result-info-other{
                font-size: 11px;

                .result-info-detail{
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            &:last-child {
                border-bottom: none;
            }

        }
    }
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .result-info-table-container{
        .result-info-row{

            .result-info-teams-detail{
                margin: 10px 0;
            }

            .result-info-other{
               text-align: right;
            }
        }

    }
}
