<div class="team-squad">
    <div class="team-squad-players">
        <div class="main-headline-component">
            <div class="main-headline-component-title">Players</div>

        </div>
        <mat-chip-list class="team-squad-players-list mat-chip-list-stacked">
            <mat-chip *ngFor="let player of players" >
                {{player.name}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="box-container team-squad-table-container">
        <div class="team-squad-table-box">
            <div class="col-sm-12 col-xs-12">
                <div class="main-headline-component">
                    <div class="main-headline-component-title">Batting Summary</div>
                </div>
                <div class="row player-headline">
                    <div class="col-sm-3 col-xs-3">
                        PLAYER
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        MAT
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        INNS
                    </div>
                    <div class="col-sm-2 col-xs-2">
                        RUNS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        HS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        AVG
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        SR
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        4s
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        6s
                    </div>
                </div>
                <div class="player-row" *ngFor="let player of players">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            {{player.name}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.match}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.inning}}
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            {{player.batting.runs}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.highest}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.average}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.strike}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.fours}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.batting.six}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12 squad-bowler">
                <div class="main-headline-component">
                    <div class="main-headline-component-title">Bowling Summary</div>
                </div>
                <div class="row player-headline">
                    <div class="col-sm-3 col-xs-3">
                        PLAYER
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        MAT
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        INNS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        OVRS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        RUNS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        WKTS
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        AVG
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        ECO
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        SR
                    </div>
                    <div class="col-sm-1 col-xs-1">
                        BEST
                    </div>
                </div>
                <div class="player-row" *ngFor="let player of players">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            {{player.name}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.match}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.inning}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.over}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.runs}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.wicket}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.average}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.economy}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.strikeRate}}
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            {{player.bowling.best}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

