<div class="team-squad">
    <div class="box-container team-squad-table-container">
        <div div class="row">
            <div class="col-sm-6" style="min-width: 500px">
                <div class="main-headline-component">
                    <div class="main-headline-component-title">Batting Summary</div>
                </div>
                <div class="row player-headline">
                    <div class="col-sm-3">
                        PLAYER
                    </div>
                    <div class="col-sm-1">
                        MAT
                    </div>
                    <div class="col-sm-1">
                        INNS
                    </div>
                    <div class="col-sm-2">
                        RUNS
                    </div>
                    <div class="col-sm-1">
                        HS
                    </div>
                    <div class="col-sm-1">
                        AVG
                    </div>
                    <div class="col-sm-1">
                        SR
                    </div>
                    <div class="col-sm-1">
                        4s
                    </div>
                    <div class="col-sm-1">
                        6s
                    </div>
                </div>
                <div class="player-row" *ngFor="let player of players">
                    <div class="row">
                        <div class="col-sm-3">
                            {{player.name}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.match}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.inning}}
                        </div>
                        <div class="col-sm-2">
                            {{player.batting.runs}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.highest}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.average}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.strike}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.fours}}
                        </div>
                        <div class="col-sm-1">
                            {{player.batting.six}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="main-headline-component">
                    <div class="main-headline-component-title">Bowling Summary</div>
                </div>
                <div class="row player-headline">
                    <div class="col-sm-3">
                        PLAYER
                    </div>
                    <div class="col-sm-1">
                        MAT
                    </div>
                    <div class="col-sm-1">
                        INNS
                    </div>
                    <div class="col-sm-1">
                        OVRS
                    </div>
                    <div class="col-sm-1">
                        RUNS
                    </div>
                    <div class="col-sm-1">
                        WKTS
                    </div>
                    <div class="col-sm-1">
                        AVG
                    </div>
                    <div class="col-sm-1">
                        ECO
                    </div>
                    <div class="col-sm-1">
                        SR
                    </div>
                    <div class="col-sm-1">
                        BEST
                    </div>
                </div>
                <div class="player-row" *ngFor="let player of players">
                    <div class="row">
                        <div class="col-sm-3">
                            {{player.name}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.match}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.inning}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.over}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.runs}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.wicket}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.average}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.economy}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.strikeRate}}
                        </div>
                        <div class="col-sm-1">
                            {{player.bowling.best}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

