@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';

.result-summary{
    height: calc(100vh - 210px);
        .scorecard-summary-tab{
            padding: 0;
        }

        .result-summary-details{
            margin: 10px 0;
            .row{
                margin: 0;
            }
            .scorecard-team{
                background: #3f90dc;
                color: #fff;
                padding: 8px 10px;


            }
            .scorecard-headline{
                background: #ecebeb;
                color: #666;
                padding: 8px 10px;
            }
            .scorecard-player {
                padding: 8px 10px;
                border-bottom: solid 1px #e1e1e1;
                &:last-child {
                    border-bottom: none;
                }

            }
        }
}
