@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';


.team-info{
    .team-header{
        padding: 5px 15px 0 15px;
        position: relative;
        .team-logo {
            position: absolute;
        }
        .team-detail{
            color: $white;
            .team-name{
                font-size: 40px;
                padding: 10px 0 0 125px;
            }

            .team-head{
                padding-top: 10px;
                .row {
                    line-height: 25px;
                    font-size: $font-size-base + 2px;
                    .col-sm-6:first-child{
                        text-align: right;
                    }
                }
            }

            .team-icon{
                position: absolute;
                background: white;
                display: inline-block;
                 border-radius: 50px;
                 width: 80px;
                 height: 80px;
                 padding: 15px;
                img{
                    height: 50px;
                }
            }
        }

        .team-info-option {
            padding-top: 20px;
            .options {
                cursor: pointer;
                display: inline-block;
                color: $white;
                width: 100px;
                font-size: $font-size-base + 2px;
                font-weight: bold;
                span{
                    display: inline-block;
                    height: 30px;
                    &.selected{
                        border-bottom: 2px solid $white;
                    }
                }
            }
            .options:nth-child(3) {
                margin-left: 25px;
            }
        }
    }
    .team-info-detail{
        overflow-y: auto;
            height: calc(100vh - 280px );

    }
}




@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .team-info{
        .team-header{
             .team-detail{
                .team-name{
                    font-size: 25px;
                    padding-left: 72px;
                }
                 .team-icon{
                    width: 60px;
                     height: 60px;

                    img{
                        height: 30px;
                    }
                }
            }
        }
    }
}
