<div class="match-schedule">
    <div class="match-schedule-container" *ngFor="let schedule of matchSchedule" [hidden]="hideMatch(schedule)">
        <div class="match-schedule-date">
            {{schedule.date | date:'EEEE, dd MMM yyyy'}}<span>{{schedule.time}}</span>
        </div>
        <div class="match-schedule-info">
            <div class="match-schedule-sub-healdine">
                <span>Match {{schedule.id}}, </span>{{schedule.venue.ground}}, {{schedule.venue.city}}
            </div>
            <div [hidden]="!schedule.result">{{schedule.result}}
            </div>

            <div class="match-schedule-team">
                <div class="floatLeft">
                    <img src="../../../assets/images/india-logo.png" class="team-icon"/> <span>{{schedule.team1.name}}</span>
                </div>
                <div class="floatLeft match-schedule-versus">Vs</div>
                <div class="floatLeft">
                    <img src="../../../assets/images/pakistan-logo.png" class="team-icon"/>  <span>{{schedule.team2.name}}</span>
                </div>
                <div class="clear">&nbsp;</div>

            </div>
        </div>
    </div>

    <ul>
        <li  *ngFor="let schedule of matchSchedule" [hidden]="hideMatch(schedule)">
            {{schedule.date}} {{schedule.time}}<br/> {{schedule.team1.name}} Vs {{schedule.team2.name}}<br/>
            - {{schedule.venue.ground}}, {{schedule.venue.city}}
            <p [hidden]="!schedule.result">{{schedule.result}}
            </p>
        </li>
    </ul>


</div>
