@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';

.match-schedule{
     overflow-y: auto;
        height: calc(100vh - #{$header-height});


    .match-schedule-container{
        border-top: 1px solid $firefly !important;
        border: 1px solid $catskill-white;
        box-shadow: 1px 1px 2px 1px rgba(133,133,133,0.50);
        margin: 10px 10px 20px 10px;
        background: $white;
        .match-schedule-date{
            padding: 10px;
            border-bottom: 1px solid $catskill-white;
            font-size: 20px;
            color: #34A6E4;
            letter-spacing: 0;
            line-height: 30px;
            span{
                color: $black;
                padding-left: 10px;
                font-size: 14px;
            }
        }
        .match-schedule-info{
            padding: 0 10px 10px;
            color: #121F26;
            letter-spacing: 0;
            line-height: 40px;

            .match-schedule-team{
                position: relative;

                .team-icon{
                    position: absolute;
                    height: 35px;
                    top: 2px;
                }

                .match-schedule-versus{
                    padding: 0 10px;
                    font-size: 16px;
                }
                span{
                    padding-left: 45px;
                    font-size: 24px;
                    font-weight: bold;
                }
                .active{
                   opacity: .5;
                }


            }
            .match-schedule-sub-healdine {
                font-size: 12px;

                span{
                    font-weight: bold;
                    font-size: 14px;

                }
            }

            .match-result {
                padding: 0 10px;
                background: #5AB96C;
                color: #fff;
            }
        }

    }

}

.fixture-info-table{
    margin: 10px;
        overflow-y: auto;
        height: calc(100vh - 65px);

.fixture-info-table-container{
    margin: 10px 0 20px;
    .team-icon{
        width: 25px;
        height: 25px;
        padding: 0;
    }
    .fixture-info-row{
        border-bottom: solid 1px #e1e1e1;
        padding: 10px 0;

        .fixture-info-teams{
            font-weight: bold;
        }
        .fixture-info-versus{
            text-align: center;
            font-weight: normal;
        }

        .fixture-info-other{
            font-size: 11px;
        }
        &:last-child {
            border-bottom: none;
        }

    }

}

}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .fixture-info-table-container{
        .fixture-info-row{

            .fixture-info-teams-detail{
                margin: 10px 0;
            }

             .fixture-info-other{
                       text-align: right;
                    }
        }

    }
}

