<app-sub-header [title]="'TEAMS'"></app-sub-header>
<div class="team-table">
    <div class="box-container team-table-container">
        <mat-tab-group  [(selectedIndex)]="selectedIndex" >
            <mat-tab *ngFor="let option of optionList" >
                <ng-template mat-tab-label>
                    <span class="custom-tab-label">{{option.name}}</span>
                </ng-template>
                <div class="row team-headline">
                    <div class="col-sm-4 col-xs-4">
                        TEAMS
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        CAPTAIN
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        VICE CAPTAIN
                    </div>
                </div>
                <div class="row team-row" *ngFor="let team of option.team" (click)="getTeamDetails(team)">
                    <div class="col-sm-4 col-xs-4">
                        {{team.name}}
                    </div>
                    <div class="col-sm-4 col-xs-4" *ngIf="team.player">
                        {{getTeamCaptain(team.player)}}
                    </div>
                    <div class="col-sm-4 col-xs-4" *ngIf="team.player">
                        {{getTeamViceCaptain(team.player)}}
                    </div>

                </div>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
