<div class="dashboard-user">
    <div class="main-headline-component">
        <div class="main-headline-component-title">Personal Stats</div>
    </div>
    <div class="box-container dashboard-container">
        <div class="row">
            <div class="col-sm-6">
                Matches:  8
            </div>
            <div class="col-sm-6">
                Role: All rounder
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Runs : 150
            </div>
            <div class="col-sm-6">
                Bat. Avg : 8
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                Wickets : 10
            </div>
            <div class="col-sm-6">
                Bowl. Avg : 8
            </div>
        </div>

    </div>
</div>
