@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';

.scorecard{
    margin: 20px;

    .scorecard-result{
        margin: 10px;
        .scorecard-team{
            background: #4A4A4A;
            color: #fff;
            padding: 8px 10px;
        }
        .scorecard-headline{
            background: #ecebeb;
            color: #666;
            padding: 8px 10px;
        }
        .scorecard-player {
            padding: 8px 10px;
            border-bottom: solid 1px #e1e1e1;

        }
    }
}
