@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';


.news-table{
    margin: 10px;
    .news-container{
        margin: 10px 0 20px;

        .news-row{
            color: #225fb2;
            border-bottom: solid 1px #e1e1e1;
            padding: 10px 0;

            .news-date {
                color: black;
            }
        }

    }
}
