@import "~assets/sass/variables";
@import '~assets/sass/base/tools.responsive';


.points-table{
    overflow-y: auto;
    height: calc(100vh - #{$header-height-sub-title} );

    margin: 10px;
    .points-table-container{
        margin: 10px 0 20px ;

        /deep/.mat-tab-label, /deep/.mat-tab-label-active{
             min-width: 80px !important;
             padding: 3px!important;
             margin: 3px!important;

        }

        .team-row {
            padding: 5px 0 5px 5px;
            border-bottom: solid 1px #e1e1e1;
            &:last-child {
                border-bottom: none;
            }
        }

        .team-headline{
            background: #3f90dc;
            margin: 5px 0 ;
            padding: 5px 0;
            color: #fff;
                font-size: 12px;
                font-weight: bold;
        }


    }
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .points-table{
        margin: 10px 0;

        .points-table-container{
            .team-row{
                margin: 0;

                .col-xs-3{
                    text-align: center;
                }
            }

            .team-headline {

                .col-xs-3{
                    text-align: center;
                }
            }
        }
    }
}
