// responsive helpers
@include media-query(palm) {
    .hide-mobile{
        display: none !important;
    }
}
@include media-query(lap) {
    .hide-ipad {
        display: none!important;
    }
}

@include media-query(desk) {
    .hide-desktop {
        display: none!important;
    }
}

@include media-query(lap-and-up) {
    .hide-ipad-up {
        display: none!important;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .hide-mobile{
        display: none !important;
    }
    .hide-ipad-up {
            display: block!important;
        }

  }

